.subscriptions-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscription-info-container{
  border:2px solid green;
  border-radius: 5px;
  padding:5px;
  margin:5px;
}

.products-container{
  display: flex;
  justify-content: space-evenly;
}

.product-container{
  border:2px solid black;
  border-radius: 5px;
  max-width: 280px;
  padding:5px;
  margin:5px;
}

.save-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.save-button{
  padding: 10px 20px;
}

@media only screen and (max-width: 375px){
  .products-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}